<footer class="site-footer">
	<div class="container">
		<div class="row">
			<div class="column column-15">
				<p>32 Summit Avenue<br/>Chatham, NJ 07928</p>
			</div>
			<div class="column column-15">
				<p>702 N. Beers Street<br/>Holmdel, NJ 07733</p>
			</div>
			<div class="column column-15">
				<p>32 Church Street<br/>Flemington, NJ 08822</p>
			</div>
			<div class="column column-15">
				<p>998 Broadway<br/>Bayonne, NJ 07002</p>
			</div>
			<div class="column column-15">
				<p>612 Rutherford Avenue<br/>Lyndhurst, NJ 07071</p>
			</div>
			<div class="column"></div>
			<div class="column column-20 footer-border">
				<p class="float-right">t.973.718.3360<br/>f.973.718.3358</p>
			</div>
		</div>
		<div class="row">
			<div class="column">
				<p class="attribution">
					{{ with .Site.Copyright }}
						{{ . | markdownify}}
					{{ end }}
				</p>
			</div>
		</div>
	</div>
</footer>
</body>
</html>
